@model QLSQ.WebApp.Models.HomeViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    ViewData["Title"] = "Home Page";
}

<!--<div class="banner-top-thumb-wrap">
    <div class="d-lg-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between  mb-3 mb-lg-0">
            <div>
                <img src="/assets/images/dashboard/star-magazine-1.jpg"
                     alt="thumb"
                     class="banner-top-thumb" />
            </div>
            <h5 class="m-0 font-weight-bold">
                The morning after: What people
            </h5>
        </div>
        <div class="d-flex justify-content-between mb-3 mb-lg-0">
            <div>
                <img src="/assets/images/dashboard/star-magazine-2.jpg"
                     alt="thumb"
                     class="banner-top-thumb" />
            </div>
            <h5 class="m-0 font-weight-bold">How Hungary produced the</h5>
        </div>
        <div class="d-flex justify-content-between mb-3 mb-lg-0">
            <div>
                <img src="/assets/images/dashboard/star-magazine-3.jpg"
                     alt="thumb"
                     class="banner-top-thumb" />
            </div>
            <h5 class="m-0 font-weight-bold">
                A sleepy island paradise's most
            </h5>
        </div>
        <div class="d-flex justify-content-between mb-3 mb-lg-0">
            <div>
                <img src="/assets/images/dashboard/star-magazine-4.jpg"
                     alt="thumb"
                     class="banner-top-thumb" />
            </div>
            <h5 class="m-0 font-weight-bold">
                America's most popular national
            </h5>
        </div>
    </div>
</div>-->
    <div class="row">
        <div class="col-lg-12">
            <div class="owl-carousel owl-theme" id="main-banner-carousel">
                @foreach (var slides in Model.SlideViewModels)
                {
                    <div class="item">
                        <div class="carousel-content-wrapper mb-2">
                            <div class="carousel-content">
                                <!--<h1 class="font-weight-bold">

                                @slides.SlideName
                                </h1>
                                <h5 class="font-weight-normal  m-0">
                                    @slides.SlideContent
                                </h5>
                                <p class="text-color m-0 pt-2 d-flex align-items-center">
                                    <span class="fs-10 mr-1">@slides.SlideTimePost</span>
                                    <i class="mdi mdi-bookmark-outline mr-3"></i>
                                </p>        -->
                            </div>
                            <a href="@slides.SlideUrl">
                                <div class="carousel-image">
                                    <img src="@Configuration["BaseAddress"]/new-image/@slides.SlideImage" alt="" />
                                </div>
                            </a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <div class="popular-news">
        <div class="row">
            <div class="col-lg-5">
                <div class="d-flex position-relative float-left">
                    <h3 class="section-title">Tin mới nhất</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-sm-4  mb-5 mb-sm-2">
                        <div class="position-relative image-hover">
                            <img src="@Configuration["BaseAddress"]/new-image/@Model.LastestNews[0].ImagePath"
                                 class="img-fluid"
                                 alt="world-news" />
                            <span class="thumb-title">@Model.LastestNews[0].NewCatetoryName</span>
                        </div>
                        <h5 class="font-weight-600 mt-3">
                            <a class="text-dark" asp-controller="DetailNew" asp-action="Index" asp-route-NewID="@Model.LastestNews[0].NewID">@Model.LastestNews[0].NewName</a> 
                        </h5>
                    </div>
                    <div class="col-sm-4  mb-5 mb-sm-2">
                        <div class="position-relative image-hover">
                            <img src="@Configuration["BaseAddress"]/new-image/@Model.LastestNews[1].ImagePath"
                                 class="img-fluid"
                                 alt="world-news" />
                            <span class="thumb-title">@Model.LastestNews[1].NewCatetoryName</span>
                        </div>
                        <h5 class="font-weight-600 mt-3">
                            <a class="text-dark" asp-controller="DetailNew" asp-action="Index" asp-route-NewID="@Model.LastestNews[1].NewID">@Model.LastestNews[1].NewName</a>
                        </h5>
                    </div>
                    <div class="col-sm-4  mb-5 mb-sm-2">
                        <div class="position-relative image-hover">
                            <img src="@Configuration["BaseAddress"]/new-image/@Model.LastestNews[2].ImagePath"
                                 class="img-fluid"
                                 alt="world-news" />
                            <span class="thumb-title">@Model.LastestNews[2].NewCatetoryName</span>
                        </div>
                        <h5 class="font-weight-600 mt-3">
                            <a class="text-dark" asp-controller="DetailNew" asp-action="Index" asp-route-NewID="@Model.LastestNews[2].NewID">@Model.LastestNews[2].NewName</a>          
                        </h5>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-4  mb-5 mb-sm-2">
                        <div class="position-relative image-hover">
                            <img src="@Configuration["BaseAddress"]/new-image/@Model.LastestNews[3].ImagePath"
                                 class="img-fluid"
                                 alt="world-news" />
                            <span class="thumb-title">@Model.LastestNews[3].NewCatetoryName</span>
                        </div>
                        <h5 class="font-weight-600 mt-3">
                            <a class="text-dark" asp-controller="DetailNew" asp-action="Index" asp-route-NewID="@Model.LastestNews[3].NewID">@Model.LastestNews[3].NewName</a>                    
                        </h5>
                    </div>
                    <div class="col-sm-4  mb-5 mb-sm-2">
                        <div class="position-relative image-hover">
                            <img src="@Configuration["BaseAddress"]/new-image/@Model.LastestNews[4].ImagePath"
                                 class="img-fluid"
                                 alt="world-news" />
                            <span class="thumb-title">@Model.LastestNews[4].NewCatetoryName</span>
                        </div>
                        <h5 class="font-weight-600 mt-3">
                            <a class="text-dark" asp-controller="DetailNew" asp-action="Index" asp-route-NewID="@Model.LastestNews[4].NewID">@Model.LastestNews[4].NewName</a>                        
                        </h5>
                    </div>
                    <div class="col-sm-4  mb-5 mb-sm-2">
                        <div class="position-relative image-hover">
                            <img src="@Configuration["BaseAddress"]/new-image/@Model.LastestNews[5].ImagePath"
                                 class="img-fluid"
                                 alt="world-news" />
                            <span class="thumb-title">@Model.LastestNews[5].NewCatetoryName</span>
                        </div>
                        <h5 class="font-weight-600 mt-3">
                            <a class="text-dark" asp-controller="DetailNew" asp-action="Index" asp-route-NewID="@Model.LastestNews[5].NewID">@Model.LastestNews[5].NewName</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="d-flex position-relative float-left">
                            <h3 class="section-title">Tuyển sinh</h3>
                        </div>
                    </div>
                    @foreach (var tuyensinhnew in Model.TuyenSinhNewInIndexs)
                    {
                        <div class="col-sm-12">
                            <div class="border-bottom pt-1 pb-3">
                                <h5 class="font-weight-600 mt-0 mb-0">
                                    <a asp-controller="DetailNew" asp-action="Index" asp-route-NewID="@tuyensinhnew.NewID" class="font-weight-bold text-dark">@tuyensinhnew.NewName</a> 
                                </h5>
                                <p class="text-color m-0 d-flex align-items-center">
                                    <span class="fs-10 mr-1">@tuyensinhnew.NewDatePost</span>
                                    <i class="mdi mdi-bookmark-outline mr-3"></i>
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
<div class="world-news">
    <div class="row">
        <div class="col-sm-12">
            <div class="d-flex position-relative  float-left">
                <h3 class="section-title">Xem nhiều nhất</h3>
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (var mostviewnew in Model.MostViewNews)
        {
            <div class="col-lg-3 col-sm-6 grid-margin mb-5 mb-sm-2">
                <div class="position-relative image-hover">
                    <img src="@Configuration["BaseAddress"]/new-image/@mostviewnew.ImagePath"
                         class="img-fluid"
                         alt="" />
                    <span class="thumb-title">@mostviewnew.NewCatetoryName</span>
                </div>
                <h5 class="font-weight-bold mt-3">
                    <a asp-controller="DetailNew" asp-action="Index" asp-route-NewID="@mostviewnew.NewID" class="text-dark">@mostviewnew.NewName</a>                
                </h5>
                <p class="fs-15 font-weight-normal">
                    @Html.Raw(mostviewnew.NewContent.Substring(0, 55))
                </p>
                <a asp-controller="DetailNew" asp-action="Index" asp-route-NewID="@mostviewnew.NewID" class="font-weight-bold text-dark pt-2">Xem thêm</a>
            </div>
        }
    </div>
</div>
<div class="editors-news">
    <div class="row">
        <div class="col-lg-5">
            <div class="d-flex position-relative float-left">
                <h3 class="section-title">Khoa học và công nghệ</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
                <img src="@Configuration["BaseAddress"]/new-image/@Model.KHCNNewInInDex[0].ImagePath"
                     class="img-fluid"
                     alt="world-news" />
                <span class="thumb-title">@Model.KHCNNewInInDex[0].NewCatetoryName</span>
            </div>
            <h1 class="font-weight-600 mt-3">
                <a asp-controller="DetailNew" asp-action="Index" asp-route-NewID="@Model.KHCNNewInInDex[0].NewID" class="text-dark">@Model.KHCNNewInInDex[0].NewName</a>            
            </h1>
            <p class="fs-15 font-weight-normal">
                @Html.Raw(Model.KHCNNewInInDex[0].NewContent.Substring(0, 55)) ...
            </p>
        </div>
        <div class="col-lg-6  mb-5 mb-sm-2">
            <div class="row">
                @for (int i = 1; i < Model.KHCNNewInInDex.Count(); i++)
                {
                    <div class="col-sm-6  mb-5 mb-sm-2">
                        <div class="position-relative image-hover">
                            <img src="@Configuration["BaseAddress"]/new-image/@Model.KHCNNewInInDex[i].ImagePath"
                                 class="img-fluid"
                                 alt="world-news" />
                            <span class="thumb-title">@Model.KHCNNewInInDex[i].NewCatetoryName</span>
                        </div>
                        <h5 class="font-weight-600 mt-3">
                            <a asp-controller="DetailNew" asp-action="Index" asp-route-NewID="@Model.KHCNNewInInDex[i].NewID" class="text-dark">@Model.KHCNNewInInDex[i].NewName</a>    
                        </h5>
                        <p class="fs-15 font-weight-normal">
                            @Html.Raw(Model.KHCNNewInInDex[i].NewContent.Substring(0, 55)) ...
                        </p>
                    </div>
                }
            </div>         
        </div>
    </div>
</div>
