@model QLSQ.ViewModel.Catalogs.QLChucVu.QLChucVuDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">Chi tiết chức vụ của sĩ quan</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with minimal features & hover style</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <div>
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IDQLCV)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IDQLCV)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IDSQ)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IDSQ)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.HoTen)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.HoTen)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IDQH)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IDQH)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.TenQH)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.TenQH)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IDBP)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IDBP)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.TenBP)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.TenBP)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IDCV)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IDCV)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.TenCV)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.TenCV)
                                </dd>
                            </dl>
                        </div>
                        <div>
                            @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
                            <a asp-action="Index">Back to List</a>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
</section>

