@model QLSQ.ViewModel.Catalogs.QLNghiPHep.QLNghiPhepDeleteRequest

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">Xóa quản lý nghỉ phép</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.container-fluid -->
</div>
<section class="content">
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">DataTable with minimal features & hover style</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div>                     
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.IDNP)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.IDNP)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.IDSQ)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.IDSQ)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.HoTen)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.HoTen)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.ThoiGianBDNP)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.ThoiGianBDNP)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.ThoiGianKTNP)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.ThoiGianKTNP)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.NghiPhepState)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.NghiPhepState)
                            </dd>
                        </dl>

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="IDNP"/>
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            <a asp-action="Index">Back to List</a>
                        </form>
                    </div>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
</section>
