@model QLSQ.ViewModel.Catalogs.QLLuong.QLLuongDeleteRequest

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">Xóa quản lý lương</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with minimal features & hover style</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div>
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IDLuong)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IDLuong)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.HoTen)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.HoTen)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IDSQ)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IDSQ)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IDQH)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IDQH)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.TenQH)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.TenQH)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IDHeSoLuongQH)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IDHeSoLuongQH)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.HeSoLuongQH)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.HeSoLuongQH)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IDCV)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IDCV)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.TenCV)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.TenCV)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IDHeSoPhuCapCV)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IDHeSoPhuCapCV)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.HeSoPhuCapCV)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.HeSoPhuCapCV)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IDLuongCB)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IDLuongCB)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.LuongCB)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.LuongCB)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Luong)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Luong)
                                </dd>
                            </dl>

                            <form asp-action="Delete">
                                <input type="hidden" asp-for="IDLuong"/>
                                <input type="submit" value="Delete" class="btn btn-danger" /> |
                                <a asp-action="Index">Back to List</a>
                            </form>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>




