@using QLSQ.ViewModel.Common;
@model PageResult<QLSQ.ViewModel.Catalogs.SiQuan.SiQuanViewModel>


@{
    ViewData["Title"] = "Danh sách sĩ quan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">Danh sách sĩ quan</h1>

            </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6 col-xl-12">
                                <p>
                                    <a class="btn btn-primary" asp-action="Create">Create New</a>
                                </p>
                            </div>
                            <div class="col-md-6 col-xl-12">
                                <form asp-action="Index" method="get">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                                        </div>
                                        <div class="col-md-3">
                                            <button type="submit" class="btn btn-primary">Tìm</button>
                                            <button type="reset" onclick="window.location.href='/User/Index'" class="btn btn-dark">Resest</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        @if (ViewBag.Success == true)
                        {
                            <div id="msgAlert" class="alert alert-success" role="alert">
                                @ViewBag.SuccessMessage;
                            </div>
                        }
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        UserID
                                    </th>
                                    <th>
                                        Họ và tên
                                    </th>
                                    <th>
                                        Ngày sinh
                                    </th>
                                    <th>
                                        Giới tính
                                    </th>
                                    <th>
                                        Quê quán
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Items)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IDSQ)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HoTen)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgaySinh)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GioiTinh)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.QueQuan)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { IDSQ = item.IDSQ }) |
                                        @Html.ActionLink("Details", "Details", new { IDSQ = item.IDSQ }) |
                                        @Html.ActionLink("Delete", "Delete", new { IDSQ = item.IDSQ })
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        @await Component.InvokeAsync("Pager", Model)
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

