@using QLSQ.ViewModel.Common
@model PageResult<QLSQ.ViewModel.Catalogs.QLQuaTrinhDaoTao.QLQuaTrinhDaoTaoViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">Quản lý quá trình đào tạo</h1>

            </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6 col-xl-12">
                                <p>
                                    <a class="btn btn-primary" asp-action="Create">Create New</a>
                                </p>
                            </div>
                            <div class="col-md-6 col-xl-12">
                                <form asp-action="Index" method="get">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                                        </div>
                                        <div class="col-md-3">
                                            <button type="submit" class="btn btn-primary">Tìm</button>
                                            <button type="reset" onclick="window.location.href='/QLQuaTrinhDaoTao/Index'" class="btn btn-dark">Resest</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        @if (ViewBag.Success == true)
                        {
                            <div id="msgAlert" class="alert alert-success" role="alert">
                                @ViewBag.SuccessMessage;
                            </div>
                        }
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        ID quá trình đào tạo
                                    </th>
                                    <th>
                                        ID sĩ quan
                                    </th>
                                    <th>
                                        Họ tên sĩ quan
                                    </th>
                                    <th>
                                        Tên trường đào tạo
                                    </th>
                                    <th>
                                        Ngành học đào tạo
                                    </th>
                                    <th>
                                        Thời gian bắt đầu đào tạo
                                    </th>
                                    <th>
                                        Thời gian kết thúc đào tạo
                                    </th>
                                    <th>
                                        Hình thức đào tạo
                                    </th>
                                    <th>
                                        Văn bằng đào tạo
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IDQLQTDT)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IDSQ)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HoTen)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TenTruong)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NganhHoc)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ThoiGianBDDT)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ThoiGianKTDT)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HinhThucDT)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VanBang)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { IDQLQTDT = item.IDQLQTDT }) |
                                            @Html.ActionLink("Details", "Details", new { IDQLQTDT = item.IDQLQTDT }) |
                                            @Html.ActionLink("Delete", "Delete", new { IDQLQTDT = item.IDQLQTDT })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        @await Component.InvokeAsync("Pager", Model)
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

